<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">

  <a class="navbar-brand" routerLink="">DVC</a>

  <ng-template [ngIf]="checkLoggedIn()" [ngIfElse]="loginContent">
    <button class="navbar-toggler" style="margin-left: 12px"
            data-target="#navbarNav"
            (click)="isCollapsed = !isCollapsed"
            data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="isCollapsed">

      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="active" (click)="isCollapsed = true">
          <a class="nav-link" routerLink="/trips">Trips</a>
        </li>
        <li class="nav-item" routerLinkActive="active" (click)="isCollapsed = true">
          <a class="nav-link" routerLink="/rooms">Rooms</a>
        </li>
        <li class="nav-item" routerLinkActive="active" (click)="isCollapsed = true">
          <a class="nav-link" routerLink="/points">Points</a>
        </li>
        <li *ngIf="accessLevel(7)" class="nav-item" routerLinkActive="active" (click)="isCollapsed = true">
          <a class="nav-link" routerLink="/events">Event Log</a>
        </li>
      </ul>
      <div class="ml-auto">
      <span *ngIf="isDevelopment" class="text-danger text-sm-left" style="padding-right: 10px">
        <strong>DEVELOPMENT API IN USE</strong></span>
        <app-login (loggedOut)="signOutSocial($event)">
        </app-login>
      </div>
    </div>
  </ng-template>

  <ng-template #loginContent>
    <div class="ml-auto">
      <button class="loginBtn loginBtn--google" (click)="signInWithGoogle()">
        Login with Google
      </button>
    </div>
  </ng-template>
</nav>

<ngx-spinner
    bdColor="rgba(51,51,51,0.8)"
    size="medium"
    color="#fff"
    type="timer"
    [fullScreen]="true">
    <p style="font-size: 20px; color: white"></p>
  </ngx-spinner>
