<div class="row">
  <div class="col-md">
    <table class="table table-hover table-dark">
      <thead>
      <th>Resort</th>
      <th><button class="btn btn-success" (click)="onNewResort()">Add New</button></th>
      </thead>
      <tbody>
      <tr *ngFor="let resort of resorts">
        <td>{{ resort.name }}</td>
        <td><a href="#">Delete</a></td>
      </tr>
      </tbody>
      <tfoot>
      <tr>
        <form class="form-inline">
          <td>
            <input class="form-control" id="newResort">
          </td>
          <td>
            <button type="submit" class="btn btn-primary">Add New</button>
          </td>
        </form>
      </tr>
      </tfoot>
    </table>
    <form>

    </form>
  </div>
</div>
