<div class="row">
  <div class="col-sm-12 sectionBlock">
    <div class="list-group">
      <div class="btn-group" *ngFor="let resort of resorts">
        <button class="btn btn-danger"
                (click)="onDeleteResort(resort.id)"
                *ngIf="checkSelectedResort(resort)">
          Delete
        </button>
        <button type="button"
                class="list-group-item list-group-item-action"
                style="width: 100%"
                [ngClass]="{ 'active' : checkSelectedResort(resort) }"
                (click)="onChangeSelectedResort(resort)">
          {{ resort.name }}
        </button>

      </div>
    </div>
    <form (ngSubmit)="onAddResort(form)" #form="ngForm"
          class="form" style="margin-top: 15px">
      <fieldset [disabled]="!(selectedResort === undefined)">
        <div class="form-row">
          <div class="col-sm-8 input-group">
            <input type="text" class="form-control"
                   name="newResortName"
                   placeholder="New Resort Name"
                   id="newResortName" ngModel>
          </div>
          <button type="submit"
                  class="btn btn-success btn-sm">Add New Resort
          </button>
        </div>
      </fieldset>
    </form>
    <hr>
  </div>
</div>
