mat-slider {
  width: 75%;
  /*margin-top: 15px;*/
}

.sectionBlock {
  background: rgba(56, 56, 56, 0.8);
  color: #EDEDED;
  border-radius: 20px;
  /*padding-bottom: 15px;*/
  /*padding-top: 15px;*/
  /*margin-top: 20px;*/
}
