<div class="row">
  <div class="col-md sectionBlock">
    <div class="list-group">
      <div class="btn-group" *ngFor="let roomTypeMember of roomTypeCollection">
        <button class="btn btn-danger"
                (click)="onDeleteRoomType(roomTypeMember.roomType.id)"
                *ngIf="checkActiveEditRoomType(roomTypeMember.roomType)">
          Delete
        </button>
        <button type="button"
                class="list-group-item list-group-item-action"
                style="width: 100%"
                (click)="onSelectRoomType(roomTypeMember.roomType)"
                [ngClass]="{ 'active' : roomTypeMember.activeSelection }">
          {{roomTypeMember.roomType.name}}
          <span class="float-right">Sleeps: {{roomTypeMember.roomType.sleeps}}</span>
        </button>
      </div>
    </div>


    <div class="row" style="margin-top: 15px">
      <div class="col-sm-12">
        <form (ngSubmit)="onAddRoomType(f)" #f="ngForm" class="form" >
          <fieldset [disabled]="!checkNewRoomTypeFormEnable()">
            <div class="col-sm-12 input-group">

              <!--<label for="newRoomTypeName">Room Type: </label>-->
              <input type="text" class="form-control"
                     name="newRoomTypeName"
                     placeholder="New Room Type"
                     id="newRoomTypeName" ngModel>

              <!--<label for="newRoomTypeSleeps">Sleeps: </label>-->
              <input type="number" class="form-control"
                     name="newRoomTypeSleeps"
                     placeholder="Sleeps"
                     id="newRoomTypeSleeps" ngModel>
            </div>
              <button type="submit"
                      style="margin-right: 25px; margin-top: 10px"
                      class="btn btn-success float-right">Add Room Type
              </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
