<div class="row">
  <div class="col-md">
    <div class="list-group">
      <div class="btn-group" *ngFor="let roomTypeMember of roomTypeCollection">
        <button type="button"
                [disabled]="!activeResortSelection"
                class="list-group-item list-group-item-action"
                style="width: 100%"
                (click)="onSelectRoomType(roomTypeMember.roomType)"
                [ngClass]="{ 'active' : roomTypeMember.activeSelection }">
          {{roomTypeMember.roomType.name}}
          <span class="float-right">Sleeps: {{roomTypeMember.roomType.sleeps}}</span>
        </button>
        <button class="btn btn-outline-danger"
                (click)="onDeleteRoomType(roomTypeMember.roomType.id)"
                *ngIf="allowDelete">Delete
        </button>
      </div>
    </div>
    <button class="btn btn-outline-info float-right" (click)="onEditRoomTypes()">Edit</button>

    <div class="row">
      <div class="col-sm-12">

        <form (ngSubmit)="onAddRoomType(f)" #f="ngForm" class="form">
          <div class="col-sm-12 input-group">
            <label for="newRoomTypeName">Room Type: </label>
            <input type="text" class="form-control"
                   name="newRoomTypeName"
                   id="newRoomTypeName" ngModel>
            <label for="newRoomTypeSleeps">Sleeps: </label>
            <input type="number" class="form-control"
                   name="newRoomTypeSleeps"
                   id="newRoomTypeSleeps" ngModel>
            <button type="submit" class="btn btn-success btn-sm">Add</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
