<div class="tableFixHead">
  <table class="table table-striped table-light">
    <thead>
    <tr>
      <th scope="col" class="bg-dark text-light">ID</th>
      <th scope="col" class="bg-dark text-light">Timestamp</th>
      <th scope="col" class="bg-dark text-light">Google ID</th>
      <th scope="col" class="bg-dark text-light">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let logEntry of eventPager.items">
      <td width="7%">{{logEntry.id}}</td>
      <td width="15%">{{logEntry.timestamp | date: 'short'}}</td>
      <td width="15%">{{logEntry.google_id}}</td>
      <td>{{logEntry.description}}</td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="3" class="card-footer bg-dark pb-0 pt-3" style="position: sticky; bottom: 0px">
        <ngb-pagination [(page)]="currentPage"
                        [pageSize]="perPage"
                        [collectionSize]="collectionSize"
                        [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"
                        (pageChange)="onPageChange($event)">

        </ngb-pagination>
      </td>
      <td colspan="3" align="right"
          class="card-footer bg-dark text-light pb-0 pt-3" style="position: sticky; bottom: 0px">
        Per Page:
        <select (change)="onPerPageChange($event.target.value)" [value]="perPage">
          <option value="10">10</option>
          <option value="25">25</option>
          <option value="100">100</option>
        </select>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
