<ng-template [ngIf]="!checkLoggedIn()">
  <form (ngSubmit)="onLogin(f)" #f="ngForm" class="form-inline">
    <label for="username">Username: </label><input type="text"
                                                   name="username" id="username"
                                                   class="form-control form-control-sm" ngModel required>
    <label for="password">Password: </label><input type="password"
                                                   name="password" id="password"
                                                   class="form-control form-control-sm" ngModel required>
    <button class="btn btn-success btn-sm"
            type="submit"
            style="margin-left: 10px"
            [disabled]="!f.valid">Login
    </button>
  </form>
</ng-template>
<ng-template [ngIf]="checkLoggedIn()">

  <button class="btn btn-danger btn-sm" (click)="onLogout()">Logout</button>

</ng-template>
