<div>
  <div *ngIf="editing">
    <div class="input-group mb-3" (blur)="onBlur()">
<!--      <input type="text" class="form-control" name="notes" [(ngModel)]="tripNotes" placeholder="Enter Trip Notes"/>-->
      <input type="text" class="form-control" name="notes" (keydown.enter)="onEditComplete()"
             [(ngModel)]="tripNotes" placeholder="Enter Trip Notes" required #editNotesInput/>
      <div class="input-group-append">
        <button class="btn btn-outline-danger" type="button" (click)="onEditCancel()">
          <mat-icon [inline]="true" style="font-size: small">cancel</mat-icon>
        </button>
        <button class="btn btn-outline-success" type="button" (click)="onEditComplete()"
                [disabled]="!editNotesInput.validity.valid">
          <mat-icon  [inline]="true" style="font-size: small">check</mat-icon>
        </button>
      </div>
    </div>
  </div>


  <div *ngIf="!editing">
    <button mat-icon-button class="float-right" (click)="beginEdit(tripNotes)">
      <mat-icon>edit</mat-icon>
    </button>
    {{ tripNotes }}
  </div>
